<div ng-controller="PostNewRecordController">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <img class="placeholder-image" src="../resources/placeholder.jpg" alt="placeholder-image" />
    </div>
    <div class="col-xs-12 col-md-4">
      <form class="info-form" ng-submit="saveNewRecord()">
        <p>
          <input type="text" id= "firstName" name="firstName" ng-model="Member.firstName" placeholder=" First Name" />
        </p>

        <p>
          <input type="text" id="lastName" name="lastName" ng-model="Member.lastName" placeholder=" Last Name"/><br />
        </p>

        <p>
          <label for="dateOfBirth">Date of Birth:</label><br />
          <input type="date" id="dateOfBirth" name="dateOfBirth" ng-model="Member.dateOfBirth"/ >
        </p>

        <p>
          <label for="phoneNumber">Phone:</label><br />
          <input type="tel" id="phoneNumber" name="phoneNumber" ng-model="Member.phone.phoneNumber"/><br />
          Do you receive texts at this number?<br />
          <label for="text-yes">Yes:</label><input type="radio" id="text-yes" name="textCapable" value="true" />
          <label for="text-no">No:</label><input type="radio" id="text-no" name="textCapable" value="false" /><br />
        </p>

        <p>
          <label for="streetOne">Address:</label><br />
          <input type="text" id="streetOne" name="streetOne" placeholder=" Line 1"/><br />
          <input type="text" name="streetTwo" placeholder=" Line 2"/><br />
          <input type="text" name="city" placeholder=" City" size="20"/> <input type="text" name="state" placeholder=" ST" size="2"/> <input type="text" name="zip" placeholder=" Zip" size="10"/>
        </p>

        <input type="submit" value="Submit">
      </form>
    </div>
  </div>

</div>
